body {
    --culoare-fundal: #005C8A;
    --culoare-contur: #00058A;
    --culoare-text: white;
    --culoare-link-normal: lightgray;
    --culoare-link-hover: white;
    --culoare-contur-card: #80FFD6;
    --culoare-card: #008A5E;
    --culoare-text-card: white;
    --culoare-text-buton: black;
    --culoare-buton-adaugare-cos: #80FDFF;
    --culoare-buton-adaugare-cos-hover: #80FFD6;
    --culoare-buton-wishlist: #8084FF;
    --culoare-buton-wishlist-hover: #80ACFF;

    --culoare-border-tabel-parimpar: #80FDFF;
    --culoare-border-tabel-imparpar: #80FFD6;
    --culoare-outline-rand-tabel: 128, 132, 255;

    --margine-pagina: 100px;

    --latime-buton: 100px;
    --inaltime-buton: 35px;
    --latime-buton-adaugare-cos: 100px;
    --inaltime-buton-adaugare-cos: 35px;
    --latime-buton-wishlist: 50px;
    --inaltime-buton-wishlist: 35px;

    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

main {
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

a {
    color: var(--culoare-link-normal);
    text-decoration: none;
    transition: color 250ms linear;
}

a:hover {
    color: var(--culoare-link-hover);
}

.card {
    background-color: var(--culoare-card);
    color: var(--culoare-text-card);
    border: 3px solid var(--culoare-contur-card);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
}

.buton-wishlist {
    display: inline-block;
    background-color: var(--culoare-buton-wishlist);
    color: var(--culoare-text-buton);
    border: 1px solid var(--culoare-contur);
    padding: 0px;
    transition: all 250ms linear;
    width: var(--latime-buton-wishlist);
    height: var(--inaltime-buton-wishlist);
    text-align: center;
}

.buton-wishlist:hover {
    background-color: var(--culoare-buton-wishlist-hover);
}

.buton-adaugare-cos {
    display: inline-block;
    background-color: var(--culoare-buton-adaugare-cos);
    color: var(--culoare-text-buton);
    border: 1px solid var(--culoare-contur);
    padding: 0px;
    transition: all 250ms linear;
    width: var(--latime-buton-adaugare-cos);
    height: var(--inaltime-buton-adaugare-cos);
    text-align: center;
}

.buton-adaugare-cos:hover {
    background-color: var(--culoare-buton-adaugare-cos-hover);
}   



#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "welcome welcome welcome"
                        "showcase showcase calendar-promotii"
                        "showcase showcase anunturi"
                        "activitate profil statistici-site"
                        "trailere trailere index-intrebari"
                        "produse produse produse";
}

#grid-pagina > * {
    border: 1px solid var(--culoare-contur);
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 10px;
}

/* slide 49 - unitati de masura relative */

figure { /* resetare spatiere */
    margin: 0;
}

figure > img {
    width: 100%;
}

figure > picture {
    width: 100%;
}

.ephesis {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}


#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}
#anunturi{
    grid-area: anunturi;
}
#showcase{
    grid-area: showcase;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}
#produse{
    grid-area: produse;
}
#index-intrebari{
    grid-area: index-intrebari;
}
#trailere{
    grid-area: trailere;
}
#calendar-promotii{
    grid-area: calendar-promotii;
}
#activitate{
    grid-area: activitate;
}
#statistici-site{
    grid-area: statistici-site;
}
#profil {
    grid-area: profil;
}

#link-top {
    --dimensiune-sageata: 3.5rem;

    position: fixed;
    bottom: 0.5em;
    opacity: 0.5;
    right: 0.5em;
    width: 3rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: var(--dimensiune-sageata);
    text-align: center;
    border: 1px solid var(--culoare-contur-card);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: var(--culoare-card);

    box-shadow: inset 0px 0px 12px var(--culoare-contur-card);

    transition: all 300ms linear;
}

#link-top:hover {
    opacity: 1;
    background: var(--culoare-contur);
}

#sageata-link-top {
    font-size: var(--dimensiune-sageata);
    color: var(--culoare-contur-card);

    transition: all 300ms linear;
}

#sageata-link-top:hover {
    font-size: calc(var(--dimensiune-sageata) * 1.2);
}


@media screen and (max-width:1200px) {
    
    body {
        --margine-pagina: 150px;
    }

    #grid-pagina {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "welcome welcome"
                        "promotii promotii"
                        "anunturi anunturi"
                        "fig1 showcase"
                        "fig2 showcase"
                        "fig3 showcase"
                        "produse produse"
                        "index-intrebari index-intrebari";
    }
}

@media  screen and (max-width:700px) {
    
    body {
        --margine-pagina: 50px;
    }

    #grid-pagina {
        display: block  ;
    }
}